{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="contenido mrg-top">
    <div class="caja3 mrg-top">
    <!-- IMG DECO -->
    <p>
        <img src="{% static 'img/Nosotros/subida1.png' %}"
    </p>
    </div>
</div>	
</p>
</header>
    <!-- CAJA DE TEXTO + IMG -->
    <div class="contenido">
        <p>
        <h2> Nosotros </h2>
        </p>
        <div class="caja">
            <div>
                <p>
                <h2>¿Quiénes somos?</h2>
                </p>
                <p>En Tienda Peludita, nos apasiona cuidar de tus mascotas. Ofrecemos una cuidadosa selección de productos de alta calidad para satisfacer todas sus necesidades. Desde alimentos nutritivos hasta juguetes divertidos y accesorios elegantes, estamos aquí para ayudarte a mimar a tu compañero peludo. Únete a nuestra comunidad de amantes de los animales y descubre por qué Tienda Peludita es el destino perfecto para consentir a tus mascotas.</p>
            </div>
            <div>
                <img src="{% static 'img/Nosotros/cuadro1.png'%}" alt="cuadro" width="100%" height= "400px">
            </div>
        </div>
    </div>	
    <!-- CAJA DE TEXTO -->
    <div class="contenido">
        <div class="caja2">
        <P>
        <p>En Tienda Peludita, también nos enorgullecemos de ser una comunidad de amantes de los animales. Valoramos cada interacción con nuestros clientes y nos encanta escuchar historias sobre tus mascotas. Creemos en la importancia de compartir conocimientos y experiencias para crear un entorno en el que todos podamos aprender y crecer juntos como amantes de los animales.</p>
        <p>Gracias por elegirnos como tu destino de confianza para todas las necesidades de tus mascotas. Estamos aquí para ti y para tus compañeros peludos en cada paso del camino.</p>
        </P>
        <!-- Personas Involucradas -->
        <div class="card-group">
            <div class="card">
              <img src="{% static 'img/Nosotros/mayo.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center">Peludita Diseñadora</h4>
                <h3 class="card-title text-center">Mayra Osorio</h3>
                <p class="card-text txt-just">Una de nuestras Representantes de la comunidad Tienda Peludita es Mayra Osorio de 20 años la cual actualmente se entuentra estudiando Ingeniería en Informática y presenta un amor incondicional a su gata.</p>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'img/Nosotros/copito.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center">Peludito Administrador</h4>
                <h3 class="card-title text-center">Renato González</h3>
                <p class="card-text txt-just">Uno de los Representantes de la administraicion de la pagina Tienda Peludita llamado Renato González con 19 años el cual actualmente esta estudiando Ingenieria en Informatica y convive con <span style="font-style: italic;">Copito</span> la Jefatura de Peluditos.co </p>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'img/Nosotros/car.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title text-center">Peludita Diseñadora</h4>
                <h5 class="card-title text-center">Carina Torres</h5>
                <p class="card-text txt-just">Una de nuestras Diseñadora llamada Carina Torres Aravena con 20 años, actualmente esta estudiando Ingeniería en Informática y disfruta mucho leyendo y pasando tiempo con su gata</p>
              </div>
            </div>
        </div>
        <br>

        <!-- IMG DECO -->
        <p>
            <img src="{% static 'img/Nosotros/abajo.png'%}">
        </p>
        </div>
        <marquee><font-family: More Sugar sans-serif>/ᐠ .ᆺ. ᐟ\ﾉ ¡Únete a nuestra comunidad Tienda Peludita🐾 y consciente a tus mascotas! ૮⍝• ᴥ •⍝ა</font-family: More Sugar sans-serif;></marquee>
    </div>		
{% endblock %}