{% load static %}
<!-- Footer -->
<footer>
    <div class="footerContainer">
        <div class="socialIcons">
            <a href="https://m.facebook.com/login/?locale=es_LA&refsrc=deprecated"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/accounts/login/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/i/flow/login"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="footerNav txt-font">
                    <ul><li><a href="index.html">Home</a></li></ul>
                </div>        
            </div>
        <div class="footerBottom">
                <p>Copyright &copy;2024; Designed by The Cary Team<span class="designer"></span></p>
        </div>
</footer>